.container {
  max-width: 600px;
  padding: 25px;
  margin: 50px auto;
  background: #ebf0f5;
  border: 1px #374e68 solid;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: thin 100;
}
.date {
  font-size: 10px;
  text-align: right;
  margin-top: 0px;
}
.city-emoji {
  font-size: 20px;
}
h1 {
  color: #122337;
  font-size: 28px;
  font-weight: 400;
  text-align: left;
  padding-left: 10px;
  padding-bottom: 0px;
  margin-top: -3px;
  margin-bottom: 0px;
}

.weather {
  color: #122337;
  font-size: 26px;
  font-weight: 300;
  line-height: 40px;
  text-align: center;
}

.icon {
  position: relative;
  right: 8px;
  bottom: 14px;
  font-size: 70px;
}
h2 {
  margin-top: 32px;
  margin-left: 34px;
  font-weight: thin 100;
}
.temperature {
  font-size: 40px;
  font-weight: thin 100;
}
.units {
  position: relative;
  bottom: 21px;
  font-weight: thin 100;
  font-size: 12px;
}
.highlow {
  position: relative;
  right: -4px;
  bottom: 19px;
  font-weight: thin 100;
  font-size: 12px;
}
.weather-condition {
  font-weight: thin 100;
  font-size: 12px;
  text-align: left;
  text-transform: capitalize;
}

.list {
  margin-top: 42px;
  list-style: none;
  padding-left: 96px;
  padding-top: 10px;
  font-size: 14px;
}
.today,
.tomorrow,
.sunday,
.monday,
.tuesday,
.wednesday {
  font-weight: thin 100;
  font-size: 12px;
  text-align: center;
  vertical-align: center;
  padding: 12px;
  margin: 10px 3px;
  border: 1px #374e68 thin;
  border-radius: 5px;
  opacity: 75%;
}
.today:hover,
.tomorrow:hover,
.sunday:hover,
.monday:hover,
.tuesday:hover,
.wednesday:hover {
  background: #99ccd3;
  transition: 200ms all ease-in-out;
}

.today .emoji {
  font-size: 30px;
}
.tomorrow .emoji {
  font-size: 30px;
}
.sunday .emoji {
  font-size: 30px;
}
.monday .emoji {
  font-size: 30px;
}
.tuesday .emoji {
  font-size: 30px;
}
.wednesday .emoji {
  font-size: 30px;
}
.type-city .city {
  margin-top: 20px;
  margin-left: 190px;
  display: block;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #374e68;
  border: 1px #374e68 solid;
  border-radius: 5px;
  padding: 1px;
}
.type-city .btn {
  font-size: 12px;
  margin-top: 20px;
  padding: 0 auto;
  display: block;
  color: #122337;
  border-radius: 10px;
}
.btn:hover {
  background: #99ccd3;
  color: #122337;
}
.location-button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 12px;
  padding: 0 auto;
  color: #122337;
  border-radius: 10px;
}
.cody-by {
  font-size: 12px;
}
